# results will be placed in output/RUN_ID/
run_id: vignette

season:
  start_month: 7 # July
  start_day: 1
  end_month: 4 # April
  end_day: 1
  # filter the data to between these years
  first_year: 2018 # 2009 for full data
  last_year: 2022

# prediction features
groups: [season, geography]

# include only these geographies. remove to use all geographies.
geographies: [Alaska, New Jersey, Connecticut, Nevada, District of Columbia]

models:
  - name: LPLModel
    seed: 42
    params:
      A_shape1: 100.0
      A_shape2: 180.0
      A_sig: 80.0
      H_shape1: 100.0
      H_shape2: 225.0
      n_shape: 150.0
      n_rate: 6.0
      M_shape: 2.0
      M_rate: 25.0
      M_sig: 80.0
      d_shape: 1000
      d_rate: 3.0

mcmc:
  num_warmup: 1000
  num_samples: 1000
  num_chains: 4
  progress_bar: false

forecasts:
  start_date:
    start: 2021-09-01
    end: 2021-11-01
    interval: 1mo
  end_date: 2022-04-01

score_funs: [mspe, eos_abs_diff]

forecast_plots:
  ci_level: 0.95
  n_trajectories: 20

# diagnostics are not produced by default
diagnostics:
  forecast_starts: [2021-07-01]
  models: [LPLModel]
  plots: [posterior_density_plot, parameter_trace_plot]
  tables: [print_posterior_dist, print_model_summary]
