season:
  start_month: 7 # July
  start_day: 1
  end_month: 4 # April
  end_day: 1
  first_year: 2018 # 2009 for full data
  last_year: 2022

groups: [season, geography]

models:
  - name: LPLModel
    seed: 42
    params:
      A_shape1: 100.0
      A_shape2: 180.0
      A_sig: 80.0
      H_shape1: 100.0
      H_shape2: 225.0
      n_shape: 150.0
      n_rate: 6.0
      M_shape: 2.0
      M_rate: 25.0
      M_sig: 80.0
      d_shape: 1000
      d_rate: 3.0

mcmc:
  num_warmup: 1000
  num_samples: 1000
  num_chains: 4

forecasts:
  start_date:
    start: 2021-08-01
    end: 2021-08-01
    interval: 1mo
  end_date: 2022-04-01

# score metrics
scores:
  quantiles: [0.5] # Must specify at least one fraction
  difference_by_date: [2024-04-01]
  others: [mspe]

# Prediction credible interval plot
forecast_plots:
  interval: # need to be a fraction #
    lower: 0.025
    upper: 0.975
  n_trajectories: 20

diagnostics:
  forecast_date:
  model: [LPLModel]
  plot: [posterior_density_plot, parameter_trace_plot]
  table: [print_posterior_dist, print_model_summary]
